.varela-round-regular {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

*{
    font-family: "Varela Round", sans-serif;
}

.side-menu {
    background: #8E1616;
    background: linear-gradient(51deg, rgba(142, 22, 22, 1) 29%, rgba(201, 106, 106, 1) 80%);
    color: white;
    min-width: 37vh;
    max-width: 37vh;
}

.sidebar-nav {
    color: white; /* Default font color for inactive */
    text-align: start;
    font-family: "magison";
}

.sidebar-nav.active {
    background-color: white !important; /* White background for active */
    color: #a30000 !important; /* Your RentaHub red color */
    position:relative; 
    left: -12px; 
    min-width: 37vh; 
    max-width: 37vh; 
    width: 37vh;
    border-radius: 0%;
    padding-left: 1.7rem;
}

.sidebar-nav:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Optional slight hover effect for inactive links */
    color: white;
}

.sidebar-nav svg {
    fill: white; /* Default SVG color */
    transition: fill 0.3s, color 0.3s; /* Smooth color transitions */
}

.sidebar-nav.active svg {
    fill: #a30000; /* When active, SVG becomes red */
}
